<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	verbose="true"
	convertErrorsToExceptions="true"
	convertWarningsToExceptions="true"
	convertNoticesToExceptions="true"
	convertDeprecationsToExceptions="true"
	>
	<testsuites>
		<testsuite name="testing">
			<directory suffix="Test.php">./tests/integration</directory>
			<exclude>./tests/test-sample.php</exclude>
		</testsuite>
	</testsuites>
	<testsuites>
		<testsuite name="unit">
			<directory suffix="Test.php">./tests/unit</directory>
		</testsuite>
	</testsuites>
	<logging>
		<testdoxText outputFile="php://stdout"/>
	</logging>
</phpunit>
